.card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

@media (max-width: 768px) {
  .card {
    transform: translate(-50%, -50%) scale(1);
  }
}

.change-btn {
  text-align: end;
}

button {
  transition: all 0.2s ease-in-out;
}
