@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: hsl(225, 100%, 94%);
  background-image: url("./assets/images/pattern-background-desktop.svg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  main {
    background-image: url("./assets/images/pattern-background-mobile.svg");
  }
}
